:root {
  --type-ramp-base-top-margin: 0;
  --type-ramp-base-bottom-margin: 1rem;
  --type-ramp-plus-1-top-margin: 0.5rem;
  --type-ramp-plus-1-bottom-margin: 0.5rem;
  --type-ramp-plus-2-top-margin: 0.5rem;
  --type-ramp-plus-2-bottom-margin: 0.5rem;
  --type-ramp-plus-3-top-margin: 0.5rem;
  --type-ramp-plus-3-bottom-margin: 0.5rem;
  --type-ramp-plus-4-top-margin: 0.5rem;
  --type-ramp-plus-4-bottom-margin: 0.5rem;
  --type-ramp-plus-5-top-margin: 2rem;
  --type-ramp-plus-5-bottom-margin: 0.5rem;
  --type-ramp-plus-6-top-margin: 0;
  --type-ramp-plus-6-bottom-margin: 1rem;

  --link-text-decoration: none;
  --link-text-decoration-hover: underline;
  --link-text-decoration-active: underline;
}
