%clean-child-margins {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

%no-child-margins {
  > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

%focus-styles {
  &:focus-visible {
    outline: calc(var(--focus-stroke-width) * 1px) solid
      var(--focus-stroke-outer);
    outline-offset: calc(var(--focus-stroke-width) * -1px);
  }
}
