@use "abstracts/functions" as fns;
@use "abstracts/variables/breakpoints";
@use "abstracts/placeholders";
@use "custom-properties";

@import "normalize.css";

:root {
  --text-scale: 1;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-size-adjust: none;
  font-size: calc(1rem * var(--text-scale));
  user-select: none;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  --app-gap: #{fns.gap(0.5)};
  width: 100%;
  height: 100%;
  background-color: var(--neutral-layer-2);
  color: var(--neutral-foreground-rest);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);

  font-family: var(--body-font);
  hyphens: auto;
  word-break: break-word;

  @media screen and (min-width: breakpoints.$xs) {
    hyphens: unset;
    word-break: normal;
  }

  @media screen and (min-width: breakpoints.$md) {
    --app-gap: #{fns.gap(1)};
  }

  @media screen and (min-width: breakpoints.$xl) {
    --app-gap: #{fns.gap(2)};
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  @extend %visually-hidden;
}

.Caption2 {
  margin-top: var(--type-ramp-minus-2-top-margin);
  margin-bottom: var(--type-ramp-minus-2-bottom-margin);
  font-weight: var(--font-weight-normal);
  font-size: var(--type-ramp-minus-2-font-size);
  line-height: var(--type-ramp-minus-2-line-height);
}

small,
.Caption1 {
  margin-top: var(--type-ramp-minus-1-top-margin);
  margin-bottom: var(--type-ramp-minus-1-bottom-margin);
  font-weight: var(--font-weight-normal);
  font-size: var(--type-ramp-minus-1-font-size);
  line-height: var(--type-ramp-minus-1-line-height);
}

p,
.Body {
  margin-top: var(--type-ramp-base-top-margin);
  margin-bottom: var(--type-ramp-base-bottom-margin);
  font-weight: var(--font-weight-normal);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
}

strong,
.Strong {
  font-weight: var(--font-weight-semibold);
}

.Stronger {
  font-weight: var(--font-weight-bold);
}

h6,
.Subtitle2 {
  margin-top: var(--type-ramp-plus-1-top-margin);
  margin-bottom: var(--type-ramp-plus-1-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(30px, var(--type-ramp-plus-1-font-size));
  line-height: min(36px, var(--type-ramp-plus-1-line-height));
}

h5,
.Subtitle1 {
  margin-top: var(--type-ramp-plus-2-top-margin);
  margin-bottom: var(--type-ramp-plus-2-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(32px, var(--type-ramp-plus-2-font-size));
  line-height: min(40px, var(--type-ramp-plus-2-line-height));
}

h4,
.Title3 {
  margin-top: var(--type-ramp-plus-3-top-margin);
  margin-bottom: var(--type-ramp-plus-3-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(34px, var(--type-ramp-plus-3-font-size));
  line-height: min(44px, var(--type-ramp-plus-3-line-height));
}

h3,
.Title2 {
  margin-top: var(--type-ramp-plus-4-top-margin);
  margin-bottom: var(--type-ramp-plus-4-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(36px, var(--type-ramp-plus-4-font-size));
  line-height: min(46px, var(--type-ramp-plus-4-line-height));
}

h2,
.Title1 {
  margin-top: var(--type-ramp-plus-5-top-margin);
  margin-bottom: var(--type-ramp-plus-5-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(38px, var(--type-ramp-plus-5-font-size));
  line-height: min(50px, var(--type-ramp-plus-5-line-height));
}

h1,
.LargeTitle {
  margin-top: var(--type-ramp-plus-6-top-margin);
  margin-bottom: var(--type-ramp-plus-6-bottom-margin);
  font-weight: var(--font-weight-semibold);
  font-size: min(46px, var(--type-ramp-plus-6-font-size));
  line-height: min(58px, var(--type-ramp-plus-6-line-height));
}

a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);

  &:hover,
  &:focus-visible {
    color: var(--link-color-hover);
    text-decoration: var(--link-text-decoration-hover);
  }

  &:active {
    color: var(--link-color-active);
    text-decoration: var(--link-text-decoration-active);
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  // Fade out, slide in
  .EntranceLeaveActive {
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
    transition-property: opacity;
  }

  .EntranceLeaveTo {
    opacity: 0;
  }

  .EntranceEnterActive {
    transition: 0.1s cubic-bezier(0, 0, 0, 1) 0.2s;
    transition-property: transform, opacity;
  }

  .EntranceEnterFrom {
    transform: translateY(50px);
    opacity: 0;
  }

  // Grow out, grow + fade in
  .DrillInLeaveActive {
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform, opacity;
  }

  .DrillInLeaveTo {
    transform: scale(1.05);
    opacity: 0;
  }

  .DrillInEnterActive {
    transition: 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;
    transition-property: transform, opacity;
  }

  .DrillInEnterFrom {
    transform: scale(0.95);
    opacity: 0;
  }

  // Shrink out, shrink + fade in
  .DrillOutLeaveActive {
    transition: 0.1s cubic-bezier(0, 0, 0, 1);
    transition-property: transform, opacity;
  }

  .DrillOutLeaveTo {
    transform: scale(0.95);
    opacity: 0;
  }

  .DrillOutEnterActive {
    transition: 0.1s cubic-bezier(0, 0, 0, 1) 0.1s;
    transition-property: transform, opacity;
  }

  .DrillOutEnterFrom {
    transform: scale(1.05);
    opacity: 0;
  }
}
